<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeMirror</title>
    <link rel="stylesheet" type="text/css" href="codemirror/plugin/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="codemirror/plugin/codemirror/theme/monokai.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.terminal-1.3.0.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="content">
      <form class="" action="/api/ruby" method="post">
        <div class="buttons">
          <button type="submit" class="btn btn-success" id="compile" onclick="">Compile <span class="glyphicon glyphicon-play"></span></button>
          <button type="button" class="btn btn-info">Clean editor <span class="glyphicon glyphicon-erase"></span></button>
        </div>
        <div class="code">
          <textarea autofocus class="codemirror-textarea" id="code" name="code">
# The Greeter class
class Greeter
  attr_writer :name
  def initialize(name)
    @name = name.capitalize
  end

  def salute
    puts "Hello #{@name}!"
  end
end

# Create a new object
g = Greeter.new("world")

# Output "Hello World!"
g.salute

# put your name here!
g.name = "Your name here!"

# hello visitor
g.salute
          </textarea>
        </div>
      </form>
      <div class="terminal2">
        <textarea name="terminal" id="terminal" spellcheck="false"></textarea>
      </div>
    </div>

    <!-- javascript  -->
    <script type="text/javascript" src="codemirror/plugin/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="codemirror/plugin/codemirror/mode/ruby/ruby.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
    <script type="text/javascript" src="js/console.jquery.js"></script>
  </body>
</html>
