<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeMirror</title>
    <link rel="stylesheet" type="text/css" href="codemirror/plugin/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="codemirror/plugin/codemirror/theme/monokai.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="content">
      <div class="code">
        <textarea class="codemirror-textarea"></textarea>
      </div>
    </div>

    <!-- javascript  -->
    <script type="text/javascript" src="codemirror/plugin/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="codemirror/plugin/codemirror/mode/ruby/ruby.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/default.js"></script>
  </body>
</html>
