html, body {
  height: 100%;
  margin: 0;
}

.content {
  position: relative;
  height: 100%;
}

.code {
  height: 50%;
  width: 50%;
  float: left;
}

.terminal2 {
  float: right;
  height: 50%;
  width: 50%;
}

.terminal2 textarea {
  font-family: tahoma, arial, sans-serif;
  font-weight: bolder;
  resize: none;
  border: 0;
  padding: 15px;
  background-color: #222831;
  color: #eee;
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

.buttons {
  padding: 10px;
}
