html, body {
  height: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  height: 80%;
}

.code {
  height: 100%;
  width: 49.9%;
  float: left;
}

.terminal2 {
  float: right;
  height: 100%;
  width: 49.9%;
}

.terminal2 textarea {
  font-family: tahoma, arial, sans-serif;
  font-weight: bolder;
  resize: none;
  border: 0;
  padding: 15px;
  background-color: #222831;
  color: #eee;
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

.buttons {
  padding: 10px;
}

.navbar {
  margin: 0 auto;
  border: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li {
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: default;
}

.comments {
  margin: 0 auto;
  padding: 5%;
  max-width: 80em;
}
